    GLOBAL_SETTINGS
    LAB_MASTER_SEED ptit-tcp-dns-steg_student_master_seed
    REGISTRY ducthinhdt472003
NETWORK LAN1
     MASK 192.168.10.0/24
     GATEWAY 192.168.10.100
NETWORK LAN2
     MASK 192.168.20.0/24
     GATEWAY 192.168.20.100
CONTAINER sender
     USER ubuntu
     X11 YES
     LAN1 192.168.10.10
     LAB_GATEWAY 192.168.10.1
CONTAINER receiver
     USER ubuntu
     X11 YES
     LAN2 192.168.20.20
     LAB_GATEWAY 192.168.20.1
CONTAINER monitor
     USER ubuntu
     X11 YES
     LAN1 192.168.10.1
     LAN2 192.168.20.1
