    GLOBAL_SETTINGS
    LAB_MASTER_SEED ptit-multifield-ttl-windowsize-steg-code_student_master_seed
    REGISTRY ducthinhdt472003
NETWORK NETWORKS2
     MASK 172.20.0.0/24
     GATEWAY 172.20.0.1
CONTAINER sender
     USER ubuntu
     X11 YES
     NETWORKS2 172.20.0.10
CONTAINER receiver
     USER ubuntu
     X11 YES
     NETWORKS2 172.20.0.11
