    GLOBAL_SETTINGS
    LAB_MASTER_SEED ip-id-steg-attack_student_master_seed
    REGISTRY ducthinhdt472003
NETWORK LANA
     MASK 192.168.2.0/24
     GATEWAY 192.168.2.1
CONTAINER sender
     USER ubuntu
     X11 YES
     LANA 192.168.2.10
CONTAINER receiver
     USER ubuntu
     X11 YES
     LANA 192.168.2.11
