    GLOBAL_SETTINGS
    LAB_MASTER_SEED ptit-ip-id-steg-lab_student_master_seed
    REGISTRY ducthinhdt472003
NETWORK NETWORKS1
     MASK 175.30.0.0/24
     GATEWAY 175.30.0.1
CONTAINER sender
     USER ubuntu
     X11 YES
     NETWORKS1 175.30.0.10
CONTAINER receiver
     USER ubuntu
     X11 YES
     NETWORKS1 175.30.0.11
