    GLOBAL_SETTINGS
    LAB_MASTER_SEED ptit-ttl-ws-ipid-steg_student_master_seed
    REGISTRY ducthinhdt472003
NETWORK LAN1
     MASK 192.168.40.0/24
     GATEWAY 192.168.40.100
NETWORK LAN2
     MASK 192.168.50.0/24
     GATEWAY 192.168.50.100
CONTAINER sender
     USER ubuntu
     X11 YES
     LAN1 192.168.40.10
     LAB_GATEWAY 192.168.40.1
CONTAINER receiver
     USER ubuntu
     X11 YES
     LAN2 192.168.50.10
     LAB_GATEWAY 192.168.50.1
CONTAINER monitor
     USER ubuntu
     X11 YES
     LAN1 192.168.40.1
     LAN2 192.168.50.1
